<suite name="SmokeTestSuite">
    <test name="SmokeTestTest">

        <parameter name="username" value="nigeria_tenant_admin"></parameter>
        <parameter name="password" value="TnvLOl54WxR75vylop2A"></parameter>
        <parameter name="path" value="D:\Selenium dependency\drivers\chromedriver.exe"></parameter>
        <classes>
            <class name ="TestNGClassOfficeHour"></class>
            <class name ="TestNGClassOfficeHour2"></class>
        </classes>

    </test>

</suite>